<h2>Signup</h2>
<form #signUp="ngForm">
    <div class="row">
        <label for="firstName">First Name</label>
        <input name = "firstName" type="text" required [(ngModel)] = "userObject.firstName" class="form-control" autocomplete="off"  />
    </div>
    <div class="row">
        <label for="lastName">Last Name</label>
        <input name = "lastName" type="text"  required [(ngModel)] = "userObject.lastName" class="form-control" autocomplete="off" />
    </div>
    <div class="row">
        <label for="username">Username</label>
        <input name = "username" type="text" required [(ngModel)] = "userObject.userName" class="form-control" autocomplete="off" />
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input name = "password" type="password" required [(ngModel)] = "userObject.password" class="form-control" autocomplete="off" />
    </div>
    <br>
    <div class="row">
        <button [disabled]="isLoading" class="btn btn-primary" (click)= "submitForm(signUp)">Register</button>
        <!-- <button [disabled]="isLoading" class="btn btn-secondary ml-3" (click)= "signUp.reset()">Reset</button> -->
    </div>
</form>