<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <div class="pull-right">       
            <button type="button"
                class="btn btn-primary"
                placement="bottom"
                ngbPopover="A popover in tab 1"
                popoverTitle="Logout"
                (click) = "logoutUser()"
                >Logout
            </button>        
        </div>
     </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <h1>Welcome {{userDetails.firstName}}</h1>
            </div>
    
            <div class="card">
                <div class="card-body light-bg">
                    <form #userDetailForm="ngForm" (ngSubmit)="onSubmit()">
                    <label for="firstName">Personal Information</label>
                    <div class="row">
                        <label for="firstName">First Name</label>
                        <input name = "firstName" type="text" [(ngModel)] = "userDetails.firstName" class="form-control" autocomplete="off" disabled />
                    </div>
                    <div class="row">
                        <label for="lastName">Last Name</label>
                        <input name = "lastName" type="text"  [(ngModel)] = "userDetails.lastName" class="form-control" autocomplete="off" disabled />
                    </div>
                    <div class="row">
                        <label for="username">Username</label>
                        <input name = "username" type="text" [(ngModel)] = "userDetails.userName" class="form-control" autocomplete="off" disabled />
                    </div>
                    <div class="row">
                        <label for="password">Password</label>
                        <input name = "password" type="password" [(ngModel)] = "userDetails.password" class="form-control" autocomplete="off" disabled />
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
